<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<context:annotation-config/>

	<bean id="beanOgrenci" class="com.resource.Ogrenci">
		<property name="adi" value="Anil"></property>
		<property name="soyadi" value="Peker"></property>
		<property name="yasi" value="24"></property>
	</bean>
	<bean id="beanDers" class="com.resource.Ders">
		<property name="ders" value="SoftwareEngineering"></property>
		<property name="puan" value="96"></property>
	</bean>
</beans>
